.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Edit news article

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = form_tag search_my_news_item_path, method: :get do
            .form-group-row
                .col-md-4
                    %label.col-form-label
                        Representative
                .col-md-6
                    = select_tag :representative_id, options_for_select(@representatives_list)
            
            .form-group-row
                .col-md-4
                    %label.col-form-label
                        Issues
                .col-md-6
                    = select_tag :issue, options_for_select(@issues)

            .actions
                = submit_tag 'Search', class: 'btn btn-primary'